#seccion.1 {
    width: 200px;
    height: 200px;
}

.seccion-secundario {
    width: 200px;
    height: 50px;

}

.intemn {
    background-color: #88F7FF;

}

#itemn1 {
    background-color: #98d7FF;
}

#itemn3 {
    background-color: #98d7FF;
}

#itemn5 {
    background-color: #98d7FF;
}